body{
  background-image: url("pars-sahin-V7uP-XzqX18-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 8px;}
nav li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
  transition: color 0.3s;
}
nav a:hover {
  color: #d4af37;
}
#hero {
  position: relative;
  text-align: center;
  color: white;
  margin: 40px auto;
  width: 90%;
  border-radius: 12px;
  overflow: hidden;
}
#hero {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.img_row{
  display: flex;
  justify-content:center ;
  align-items:center;
  flex-wrap: wrap; 
  gap: 15px;
}

.img_row img{
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
}

.img_row img:hover {
  transform: scale(1.05);
}


